/***************************
Add your custom styles below
****************************/
.navbar {
		overflow: visible !important;
}
.nav-bar {
	height: 50px;
	max-height: 50px;
	line-height:50px;
	/*margin-top:25px;*/
	padding: 0;
	width:100%;
}
.nav-bar .navbar-brand {
	background-color: white;
	background:
		/*linear-gradient(135deg, transparent 30px, #fff 0) top left,
		linear-gradient(225deg, transparent 30px, #fff 0) top right,*/
		linear-gradient(315deg, transparent 30px, #fff 0) bottom right,
		linear-gradient(45deg,  transparent 30px, #fff 0) bottom left;
	background-size: 60% 50%;
	background-repeat: no-repeat;
    width:300px;
    z-index:1;
    margin-right:0;
    margin-left:0;

}


.navbar-brand > a > img {
	max-width:100px;
	margin-bottom:0px;
}

.nav-menu > li {
	font-size: .8em;
}

.imagebg {
	/*margin-top:-75px;*/
}

.h1, h1{
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 3em;
}

.bg--primary {
	background-color:#eae2cd;
}

.nav-bar .row {
	margin-left:0px;
}

.left-col-fill {
	height:100vh;
	overflow:hidden;
}

.row-no-padding {
  [class*="col-"] {
    padding: 0 !important;
  }
}
.col-no-padding {
	padding:0 !important;
}

.main-container {
	height: calc(100% - 50px);
}

footer {
	padding:0;
}

section {
	display:none;
}

section.section-active {
	display:block;
}